# Ignore Python cache
__pycache__/
*.pyc

# Ignore virtual environment
venv/
env/

# Ignore downloads folder
downloads/

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore OS files
.DS_Store
Thumbs.db

# Ignore large dataset files (optional)
data/raw/
